@model A_ZCamp.Models.SurveyAddQuestionViewModel

@{
    ViewBag.Title = "Add Survey Question";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2>Add a New Survey Question</h2>

@using (Html.BeginForm("AddNewQuestion", "SurveyMods", FormMethod.Post, new { @class = "form" }))
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Survey Name</th>
                <th>Survey Type</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var x in Model.Surveys)
            {
                <tr>
                   @* <th scope="row">@Html.RadioButtonFor(m => m.SurveyID, 1) @x.SurveyName</th> *@
                    <td>@Html.RadioButtonFor(m => m.SurveyID, x.Sid) @x.SurveyName</td>
                    <td>@x.SurveyType.ToString()</td>
                </tr>  }
        </tbody>
    </table>

    @*
                foreach (var x in Model.Surveys)
                {

                    if (x.SurveyType == A_ZCamp.Models.Survey.PreCamp)
                    {
            @Html.Label(x.SurveyName) <br />
            @Html.Label(x.SurveyType.ToString()) <br />
        }

        if (x.SurveyType == A_ZCamp.Models.Survey.PostCamp)
        {
            @Html.Label(x.SurveyName) <br />
            @Html.Label(x.SurveyType.ToString()) <br />
        }
    }
        *@

    <br />
    <h4>Choose Question Type</h4>

    @Html.RadioButtonFor(m => m.QuestionTypeToSubmit, 1) @:Short Answer <br />
    @Html.RadioButtonFor(m => m.QuestionTypeToSubmit, 2) @:Multiple Choice <br />

    <br />
    <h4>Your Question</h4>

    @Html.Label("Question:") <br />
    @Html.TextAreaFor(m => m.QuestionToSubmit) <br />

    <br />
    <h4>Multiple Choice Supplied Answers</h4>

    @:First Answer:
    @Html.TextBoxFor(m => m.SuppliedAnswersQuestionToSumbit[0])
    <br />

    @:Second Answer:
    @Html.TextBoxFor(m => m.SuppliedAnswersQuestionToSumbit[1])
    <br />

    @:Third Answer:
    @Html.TextBoxFor(m => m.SuppliedAnswersQuestionToSumbit[2])
    <br />

    <br />
    <input type="submit" class="btn btn-primary" value="Save" />
}
   

@*
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
  
</head>
<body>
    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        <input id="btnAdd" type="button" value="Add" onclick="AddTextBox()" />
        <br />
        <br />
        <div id="TextBoxContainer">
            <!--Textboxes will be added here -->
        </div>
        <br />
        <input type="submit" value="Submit" />
    }
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript">
        function GetDynamicTextBox(value) {
            var div = $("<div />");

            var textBox = $("<input />").attr("type", "textbox").attr("name", "DynamicTextBox");
            textBox.val(value);
            div.append(textBox);

            var button = $("<input />").attr("type", "button").attr("value", "Remove");
            button.attr("onclick", "RemoveTextBox(this)");
            div.append(button);

            return div;
        }
        function AddTextBox() {
            var div = GetDynamicTextBox("");
            $("#TextBoxContainer").append(div);
        }

        function RemoveTextBox(button) {
            $(button).parent().remove();
        }

        $(function () {
            var values = eval('@Html.Raw(ViewBag.Values)');
            if (values != null) {
                $("#TextBoxContainer").html("");
                $(values).each(function () {
                    $("#TextBoxContainer").append(GetDynamicTextBox(this));
                });
            }
        });
    </script>
    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            $(function () {
                alert("@ViewBag.Message")
            });
        </script>
    }
</body>
</html>
*@