@model A_ZCamp.Models.SurveyQuestionOptionsViewModel
@{
    ViewBag.Title = "Modify Survey Question";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2>Modify a Survey Question</h2>

@using (Html.BeginForm("UpdateQuestions", "SurveyMods", FormMethod.Post, new { @class = "form" }))
{
    int z = 0;

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Survey Name</th>
                <th>Question</th>
                <th>Question Type</th>
                <th>Active?</th>
                <th>Order</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var x in Model.AllSurveyQuestions)
            {
                <tr>
                        @Html.HiddenFor(m => m.AllSurveyQuestions[z].Qid)
                        @Html.HiddenFor(m => m.AllSurveyQuestions[z].Sid)
                    <td>@x.SurveyName</td>
                    <td>@x.Question</td>
                    <td>@x.QuestionType.ToString()</td>
                    <td>@Html.EditorFor(m => m.AllSurveyQuestions[z].Active)
                    </td>
                    <td>@Html.TextBoxFor(m => m.AllSurveyQuestions[z].Ordering)</td>
                </tr>
                z++;
            }
        </tbody>
    </table>

    <input type="submit" class="btn btn-primary" value="Update" />
}
