@model A_ZCamp.Models.SurveyAddViewModel
@{
    ViewBag.Title = "Add a Survey";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2>Add a New Survey</h2>

@Html.ValidationSummary()

@using (Html.BeginForm("SurveyCreate", "SurveyMods", FormMethod.Post, new { @class = "form" }))
{
    <h3>All Surveys</h3>

    if (Model.Surveys != null)
    {

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Survey Type</th>
                <th>Survey Name</th>
            </tr>
        </thead>
        <tbody>

            @{int z = 0;}

            @foreach (var x in Model.Surveys)
            {
                @Html.HiddenFor(m => m.Surveys[z].SurveyName)
                @Html.HiddenFor(m => m.Surveys[z].SurveyType)

                <tr>
                    <td>@x.SurveyType.ToString()</td>
                    <td>@x.SurveyName</td>
                </tr>  
                z++;
            }
        </tbody>
    </table>

                }

                else
                {
                    <h3>No Surveys have been created.</h3>
                }

    <h4>Survey Type</h4>

    @Html.EnumDropDownListFor(m => Model.SurveyType, null , new { @class = "form-control" })

    <br />

    <h4>Survey Name</h4>

    @Html.TextBoxFor(m => Model.SurveyName, new { required = "required" })

    <br />
    <br />
    <input type="submit" class="btn btn-primary" value="Save" />
}