<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Adventure Zone Camp</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="@Url.Content("~/Content/Style/css.css")" rel="stylesheet" type="text/css">
    <!-- Bootstrap and Font Awesome css -->
    <link href="@Url.Content("~/Content/Style/font-awesome.css")" rel="stylesheet">
    <!--<link href="../Views/SiteSupport/bootstrap.css" rel="stylesheet">-->

    <!-- Theme stylesheet -->
    <link href="@Url.Content("~/Content/Stlye/style.css")" rel="stylesheet" id="theme-stylesheet">

    <!-- Custom stylesheet - for your changes -->
    <link href="@Url.Content("~/Content/Style/custom.css")" rel="stylesheet">

    <!-- owl carousel css -->
    <link href="@Url.Content("~/Content/Style/owl.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/Style/owl_002.css")" rel="stylesheet">

    <!-- CSS Animations -->
    <link href="@Url.Content("~/Content/Style/animate.css")" rel="stylesheet">


    <script type="text/javascript" charset="UTF-8" src="@Url.Content("~/Content/JavaScript/common.js")"></script>
    <script type="text/javascript" charset="UTF-8" src="@Url.Content("~/Content/JavaScript/util.js")"></script>
    <script type="text/javascript" charset="UTF-8" src="@Url.Content("~/Content/JavaScript/stats.js")"></script>

    @*
    <!-- #### JAVASCRIPT FILES ### -->
    <!-- js base -->
    <script src="@Url.Content("~Content/JavaScript/jquery-1.js")"></script>
    <script src="@Url.Content("~Content/JavaScript/bootstrap.js")"></script>

    <!-- for demo purpose -->
    <script src="@Url.Content("~Content/JavaScript/jquery_003.js")"></script>

    <!-- waypoints for scroll spy -->
    <script src="@Url.Content("~Content/JavaScript/waypoints.js")"></script>

    <!-- maps -->
    <script src="@Url.Content("~Content/JavaScript/js")"></script>
    <script src="@Url.Content("~Content/JavaScript/gmaps.js")"></script>

    <!-- masonry layout -->
    <script src="@Url.Content("~Content/JavaScript/masonry.js")"></script>

    <!-- owl carousel -->
    <script src="@Url.Content("~Content/JavaScript/owl.js")"></script>

    <!-- jQuery scroll to -->
    <script src="@Url.Content("~Content/JavaScript/jquery_004.js")"></script>

    <!-- jQuery counter -->
    <script src="@Url.Content("~Content/JavaScript/jquery.js")"></script>

    <!-- jQuery parallax -->
    <script src="@Url.Content("~Content/JavaScript/jquery_002.js")"></script>

    <!-- main js file -->
    <script src="@Url.Content("~Content/JavaScript/front.js")"></script>
    *@

</head>
<body>
    <!--
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("A-Z Camp", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Surveys", "Index", "Surveys")</li>
                    <li>@Html.ActionLink("Reports", "Index", "SurveyReports")</li>
                    <li>@Html.ActionLink("Edit", "Index", "Edit")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                </ul>
               
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
        -->

    <div class="navbar navbar-default navbar-fixed-top" role="navigation" id="navbar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="~/Content/Images/Picture1.png" runat="server" class="image img-responsive" alt="LOGO">
            </div>

            <div class="navbar-collapse collapse" id="navigation">

                <ul class="nav navbar-nav navbar-right">
                    <li class="active">
                        <a href="#intro">Home</a>
                    </li>
                    <li>
                        @Html.ActionLink("ABOUT2", "About", "Home")
                    </li>
                    <li>
                        <a href="#about">About</a>
                    </li>
                    <li>
                        <a href="#Registration">Registration</a>
                    </li>

                    <li>
                        <a href="#references">Activities</a>
                    </li>
                    <li>
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->

        </div>
    </div>


    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - A-Z Camp</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
