@model A_ZCamp.Models.SMPostCamp
@{
    ViewBag.Title = "Post-Camp Survey";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*Est*@

<br />
<h2>@ViewBag.Title</h2>
<h3>Welcome! We have just a few questions for you.</h3>

@using (Html.BeginForm("AddSurveyResultsPOST", "Surveys", FormMethod.Post, new { @class = "form" }))
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(m => m.Question1) <br />
        @Html.RadioButtonFor(m => m.Question1, "Sure did!") Sure did!<br />
        @Html.RadioButtonFor(m => m.Question1, "It was OK") It was OK<br />
        @Html.RadioButtonFor(m => m.Question1, "It could have been better") It could have been better<br />
        @Html.RadioButtonFor(m => m.Question1, "No, not really") No, not really<br />
        @Html.ValidationMessageFor(m => m.Question1, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Question2)
        @Html.TextAreaFor(m => m.Question2, new { @class = "form-control", rows = 4 })
        @Html.ValidationMessageFor(m => m.Question2, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Question4) <br />
        @Html.RadioButtonFor(m => m.Question4, "You bet!") You bet!<br />
        @Html.RadioButtonFor(m => m.Question4, "Probably") Probably<br />
        @Html.RadioButtonFor(m => m.Question4, "We'll see...") We'll see...<br />
        @Html.RadioButtonFor(m => m.Question4, "Don't count on it") Don't count on it<br />
        @Html.ValidationMessageFor(m => m.Question4, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Question3)
        @Html.TextAreaFor(m => m.Question3, new { @class = "form-control", rows = 4 })
        @Html.ValidationMessageFor(m => m.Question3, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Question5)
        @Html.TextAreaFor(m => m.Question5, new { @class = "form-control", rows = 4 })
        @Html.ValidationMessageFor(m => m.Question5, "", new { @class = "text-danger" })
    </div>

    <input type="submit" class="btn btn-primary" value="Submit" />
}

<script src='@Url.Content("~/Scripts/jquery.validate.js")' type='text/javascript'>         </script>
<script src='@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")' type='text/javascript'></script>
