@model A_ZCamp.Models.SurveyPageViewModel
@{ 
    ViewBag.Title = "Pre Camp Survey";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*IEnumerable<>*@

<br />
<h2>@ViewBag.Title</h2>
<h3>Welcome! Please fill out the survey</h3>

@foreach (String x in Model.SurveyQuestion)
{
    @Html.Label(x)
}

@*
@using (Html.BeginForm("AddSurveyResults", "Surveys", FormMethod.Post, new { @class = "form" }))
{
  
    foreach (var x in Model)
    {
        if (x.SurveyQuestionType == A_ZCamp.Models.QuestionType.MultipleChoice)
        {
            <h3>MULTIPLE CHOICE</h3>
            @Html.Label(x.SurveyQuestion) <br />

            foreach (String y in x.SuppliedAnswers)
            {
                @Html.RadioButton(x.SurveyQuestion, y)
                @y <br />
            }
        }

        if (x.SurveyQuestionType == A_ZCamp.Models.QuestionType.ShortAnswer)
        {
            <h3>SHORT ANSWER</h3>
            @x.SurveyQuestion <br />
            @Html.TextArea(x.SurveyQuestion, new { rows = 4, columns = 20 })
        }
    }

    <br />
    <br />
    <input type="submit" class="btn btn-primary" value="Submit" />
}
    *@
