@model A_ZCamp.Models.PreSurvey
@{
    ViewBag.Title = "Pre-Camp Survey";
}
<h2>@ViewBag.Title</h2>
<h3>Welcome! Please fill out the survey</h3>

@using (Html.BeginForm("Add", "Surveys/PreSurvey", FormMethod.Post, new { @class = "form" }))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.WhatDoYouExpect)
        @Html.TextAreaFor(m => m.WhatDoYouExpect, new { @class = "form-control", rows = 4 })
    </div>

    <input type="submit" class="btn btn-primary" value="Submit" />
}